<h1><%= t('.title') %></h1>

<table class = "table">
  <thead>
    <tr>
      <th><%= "name" %></th>
      <th><%= "ingredient" %></th>
      <th><%= "to_do_at" %></th>
      <th><%= "user" %></th>
    </tr>
  </thead>

  <tbody>
    <% @select_food_preps.each do |select_food_prep| %>
      <tr>
        <td><%= select_food_prep.food_prep.name %></td>
        <td><%= select_food_prep.food_prep.ingredient %></td>
        <td><%= select_food_prep.to_do_at %></td>
        <td><%= select_food_prep.user.name %></td>
        <td><%= link_to t('コメントする'), select_food_prep_path(select_food_prep), method: :get %></td>
        <td><%= link_to t('common.destroy'), select_food_prep_path(select_food_prep), method: :delete, data: { confirm: t('common.confirm_destroy') }  %></td>
      </tr>
    <% end %> 
  </tbody>  
</table>