<%= form_with(model: @select_food_prep, local: true) do |form| %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body"> 
        <h1>仕込み選択</h1>
        <p>仕込みの予定を追加します</p><br>
          <% if @select_food_prep.errors.any? %>
            <div id="error_explanation">
              <h3><%= pluralize(@select_food_prep.errors.count, "件の") %> エラーがあります</h3>
                <% @select_food_prep.errors.full_messages.each do |message| %>
                  <%= message %><br>
                <% end %>
            </div>
          <% end %>
          <br>
          <div class="form-group">
            <%= form.label "仕込み項目名" %><br>
            <%= form.select :food_prep_id, FoodPrep.where(group_id: current_user.groups.ids).pluck(:name, :id), { include_blank: '選択してください'}%>
          </div>
          <div class="form-group">
            <%= form.label "実施日" %><br>
            <%= form.date_field :to_do_at %>
          </div>
          <div class="field">
              <%= form.label "グループ名" %>
            <% @groups.each do |group| %>
              <%= form.check_box :group_id, { multiple: false, include_hidden: false }, group[:group_id] %>
              <%= group.group.name %>
            <% end %>
          </div>
          <br>
          <div class="actions">
            <%= form.submit "予定に追加する", class: "btn btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<%= link_to '戻る', select_food_preps_path, class: "bi bi-skip-backward-fill btn btn-sm btn-primary"  %>        
<% end %>
