<div class="top-body">
  <div class="image_root">
    <%= link_to root_path do %>
      <%= image_tag 'textlogo.png', :size =>'500x190' %>
    <% end %>
  </div><br>     
  <h2>Cucinaとは<%= image_tag 'lemonlogo.png', :size =>'40x40' %></h2>
  <small>「Cucina」イタリア語でキッチンという意味</small>
  <br><br>
  <h4><%= image_tag 'chef.png', :size =>'30x30' %>料理人のための仕込み管理アプリケーション</h4>
  <p>日々の業務である「仕込み」</p>
  <p>仕込み業務をアプリ上で管理します</p>
  <br>
  <h4><%= image_tag 'chef.png', :size =>'30x30' %>食材の使用状況を把握する</h4>
  <p>チーム全体で仕込みに使用する食材を把握しましょう</p>
  <p>食材が足りない、仕込みができない状況を軽減します</p>
  <br>
  <h4><%= image_tag 'chef.png', :size =>'30x30' %>チームの業務効率を向上する</h4>
  <p>チーム全体で業務管理を行うことで効率を上げます</p>
  <p>チームで協力しお客様に最高の料理を提供しましょう</p>
  <br>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'アカウント詳細', user_path(current_user.id), class: "bi bi-person-circle btn btn-info" %><br><br>
    <%= link_to " グループを作成する", new_group_path, class: "bi bi-plus-square-fill btn btn-primary"%> 
  <% else %>
    <%= link_to " ログイン", new_user_session_path, class: "btn btn-info bi bi-door-open-fill" %><br><br>
    <%= link_to " 新規登録", new_user_registration_path, class: "bi bi-person-plus-fill btn btn-info" %><br><br>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary" %><br>
    <%= link_to '管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post, class: "btn btn-outline-primary" %><br>
  <% end %>
</div>  






