<div class="image_root">
  <%= link_to root_path do %>
    <%= image_tag 'textlogo.png', :size =>'500x190' %>
  <% end %>
</div><br>     
<h1>Cucinaとは・・</h1><br>
<h3><li>料理人のための仕込み管理アプリケーション</li></h3>
<p>日々の業務である「仕込み」</p>
<p>仕込み業務をアプリ上で管理します</p>
<br>
<h3><li>食材の使用状況を把握する</li></h3>
<p>チーム全体で仕込みに使用する食材を把握しましょう</p>
<p>食材が足りない、仕込みができない状況を軽減します</p>
<br>
<h3><li>チームの業務効率を向上する</li></h3>
<p>チーム全体で業務管理を行うことで効率を上げます</p>
<p>チームで協力しお客様に最高の料理を提供しましょう</p>
<br>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-info" %><br><br>
<%= link_to "新規登録", new_user_registration_path, class: "btn btn-info" %><br><br>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-primary" %><br><br>
<%= link_to '管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post, class: "btn btn-primary" %><br>






