<%= render 'layouts/flash' %>
<div class="comment_edit_form">
  <%= form_with(model: [select_food_prep, comment], local: false) do |form| %>
    <div class="field">
      <%= form.text_area "コメント内容", id: "comment_content_#{select_food_prep.id}" %>
    </div>

    <div class="actions">
      <%= form.submit "編集" %>
    </div>

    <%= link_to :back do %>
      戻る
    <% end %>
  <% end %>
</div>