<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label "メールアドレス"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "ログインを記憶する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "users/shared/links" %>

<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %><br>
<%= link_to '管理者ログイン（閲覧用）', users_admin_guest_sign_in_path, method: :post %>
