<h1><%= 'カテゴリ編集' %></h1>

<%= form_with(model: @label, local: true) do |form| %>
  <% if @label.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@label.errors.count, "件の") %> エラーがあります</h3>
        <% @label.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label 'カテゴリ名' %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit '編集する', class: "btn btn-sm btn-info" %>
  </div>
<% end %>

<%= link_to t('戻る'), labels_path, id: "back", class: "bi bi-arrow-left-circle-fill" %>