<h1><%= 'カテゴリ編集' %></h1>

<%= form_with(model: @label, local: true) do |form| %>
  
<div class="field">
  <%= form.label 'カテゴリ名' %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div class="actions">
  <%= form.submit '編集する', class: "btn btn-sm btn-info" %>
</div>
<% end %>

<%= link_to t('戻る'), labels_path, id: "back" %>