<div class="container">
  <h1>カテゴリ一覧</h1>
  <br>
  <%= link_to '  カテゴリを登録する', new_label_path, class: "btn btn-primary bi bi-plus-circle-fill" %>
  <br><br>
  <table class = "table">
    <thead class="border-top">
      <tr>
        <th>カテゴリ名</th>
        <th>登録仕込み数</th>
      </tr>
    </thead>
    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.name%></td>
          <td><%= label.food_preps.count %></td>
          <td><%= link_to ' 編集する', edit_label_path(label), class: "bi bi-pencil-fill btn btn-outline-success" %></td>
          <td><%= link_to ' 削除する', label_path(label), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger bi bi-trash3-fill" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>