<h1><%= t('.title') %></h1>

<table class = "table">
  <thead>
    <tr>
      <th><%= '仕込み項目名' %></th>
      <th><%= '使用食材' %></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name%></td>
        <td><%= label.food_preps.count %></td>
        <td><%= link_to t('common.edit'), edit_label_path(label) %></td>
        <td><%= button_to t('common.destroy'), label_path(label), method: :delete, data: { confirm: t('common.confirm_destroy') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>