<h1><%= t('.title') %></h1>

<%= form_with(model: @label, local: true) do |form| %>
  
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div class="actions">
  <%= form.submit class: "btn btn-sm btn-info" %>
</div>
<% end %>

<%= link_to t('common.back'), labels_path, id: "back" %>