<h1>グループ編集</h1>

<%= form_with(model: @group, local: true) do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
          <div class="card-body">
            <% if @group.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@group.errors.count, "件の") %> エラーがあります</h2>
                <ul>
                  <% @group.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <p><%= f.label 'グループ名' %></p>
              <p><%= f.text_field :name, class: "form-control" %></p>

              <div class="button">  
                <%= f.submit '編集する', class: "btn btn-info" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </div>
<br>      
<%= link_to "戻る", user_path(current_user.id), id: "back", class: "btn btn-primary btn-sm" %>  
<% end %>