<h1>グループ詳細</h1>
<h2>グループ名</h2>
<p><%= @group.name %></p>
<h2>オーナー</h2>
<p><%= @group.owner.name %>
<h2>メンバー</h2>
<% @group.users.each do |user| %>
  <p><%= user.name %></p>
<% end %>

<h2>招待</h2>
<%= form_with(model: :group_user, scope: :post, url: group_group_users_path(@group), local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <button type="submit">送信</button>
<% end %>
<% if current_user == @group.owner %>
  <%= link_to "グループを編集", edit_group_path(@group) %>
  <%= link_to "グループを削除", @group, method: :delete, data:{ confirm: "削除しますか？"} %>
<% else %>
  <% if @group.users.ids.include?(current_user.id) %>
    <%= link_to "グループから退出", group_group_user_path(@group), method: :delete, data: { confirm: "グループから退出しますか？"} %>
  <% end %>
<% end %>  