<h1>ユーザ詳細</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<% if current_user.admin? %>
  <%= link_to '管理者ページ', rails_admin_path %>|
<% end %>
<% @groups.each do |group| %>
  <% if group.users.ids.include?(current_user.id) %>
    <p>グループ名 : <%= group.name %></p>
    <%= link_to "所属グループ詳細", group_path(@user.groups.ids) %>|
  <%end%>
<% end %>

<%= link_to "編集", edit_user_registration_path(@user.id) %>
|
<%= link_to "戻る", food_preps_path, id: "back" %>