
<%= form_with(model: @food_prep, local: true) do |form| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
          <div class="card-body">
            <h1><%= '仕込み編集' %></h1>
            <% if @food_prep.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@food_prep.errors.count, "件の") %> エラーがあります</h2>
                <ul>
                  <% @food_prep.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= form.label "仕込み項目名" %>
              <%= form.text_field :name, class: "form-control" %>
            </div>
            <br>
            <div class="form-group">
              <%= form.label "使用食材" %>
              <%= form.text_area :ingredient, class: "form-control" %>
            </div>
            <br>
            <div class="form-group">
                <%= form.label "カテゴリ" %>
              <% Label.all.each do |label| %>
                <%= form.check_box :label_ids, { multiple: true, include_hidden: false }, label[:id] %>
                <%= label.name %>
              <% end %>
            </div>
            <div class="button">
              <%= form.submit '編集する', class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>        
  </div>
<br>    
<%= link_to t('戻る'), food_preps_path(@food_prep), class: "btn btn-primary btn-sm" %>
<% end %>
