<h1><%= '仕込み編集' %></h1>

<%= form_with(model: @food_prep, local: true) do |form| %>

  <div class="field">
    <%= form.label "仕込み項目名" %>
    <%= form.text_field :name %>
  </div><br>

  <div class="field">
    <%= form.label "使用食材" %>
    <%= form.text_area :ingredient %>
  </div><br>


  <div class="field">
      <%= form.label "カテゴリ" %>
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, include_hidden: false }, label[:id] %>
      <%= label.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit '編集する'%>
  </div>

<%= link_to t('戻る'), food_preps_path(@food_prep) %>
<% end %>
