<h1><%= "登録済みの仕込み一覧" %></h1>

<h1>仕込み検索</h1>
<%= search_form_for @search_food_prep, url: search_food_preps_path do |f| %>
  <%= f.label :name_cont, '仕込み登録名' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.submit '検索' %>
<% end %>

<table class = "table">
  <thead>
    <tr>
      <th><%= "name" %></th>
      <th><%= "ingredient" %></th>
      <th><%= "category" %></th>
    </tr>
  </thead>

  <tbody>
    <% @group_food_preps.each do |food_prep| %>
      <tr>
        <td><%= food_prep.name %></td>
        <td><%= food_prep.ingredient %></td>
        <td>
          <% food_prep.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
        <td><%= link_to t('common.show'), food_prep_path(food_prep), method: :get %></td>
        <td><%= link_to t('common.edit'), edit_food_prep_path(food_prep), method: :get %></td> 
        <td><%= link_to t('common.destroy'), food_prep_path(food_prep), method: :delete, data: { confirm: t('common.confirm_destroy') }  %></td> 
      </tr>
    <% end %> 
  </tbody>  
</table>