<div class="container">
  <h1><%= "登録済仕込み一覧" %></h1>
  <%= link_to " 新しく仕込みを登録する", new_food_prep_path, class: "bi bi-plus-circle-fill btn btn-primary"%>
  <br><br>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
            <h4 class="bi bi-search">仕込み検索</h4>
            <%= search_form_for @search_food_prep, url: search_food_preps_path do |f| %>
              <%= f.label :name_cont, '仕込み項目名' %>
              <div class="form-group">
                <%= f.search_field :name_cont, class: "form-control", placeholder: "例)トマトソース" %>
                <br>
                <%= f.submit '検索', class: "btn btn-info btn-sm" %>
              </div>  
            <% end %>
          </div>
        </div>
      </div>
    </div>        
  </div>
  <br>
  <table class = "table">
    <thead>
      <tr class="border-top">
        <th><%= "仕込み項目名" %></th>
        <th><%= "使用食材" %></th>
        <th><%= "カテゴリ" %></th>
      </tr>
    </thead>

    <tbody>
      <% @group_food_preps.each do |food_prep| %>
        <tr>
          <td><%= food_prep.name %></td>
          <td><%= food_prep.ingredient %></td>
          <td>
            <% food_prep.labels.each do |label| %>
              <%= label.name %>
            <% end %>
          </td>
          <td><%= link_to t(' 詳細を見る'), food_prep_path(food_prep), method: :get, class: "bi bi-file-text-fill btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to t(' 編集する'), edit_food_prep_path(food_prep), method: :get, class: "btn btn-outline-success btn-sm bi bi-pencil-fill" %></td> 
          <td><%= link_to t(' 削除する'), food_prep_path(food_prep), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger btn-sm bi bi-trash3-fill" %></td> 
        </tr>
      <% end %> 
    </tbody>  
  </table>
</div>