<h1><%= "仕込み作成" %></h1>

<%= form_with(model: @food_prep) do |form| %>

  <div class="field">
    <%= form.label "仕込み項目名" %>
    <%= form.text_field :name %>
  </div><br>

  <div class="field">
    <%= form.label "使用食材" %>
    <%= form.text_area :ingredient %>
  </div><br>

  <div class="field">
      <%= form.label "カテゴリ" %>
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, include_hidden: false }, label[:id] %>
      <%= label.name %>
    <% end %>
  </div><br>

  <div class="field">
      <%= form.label "グループ名" %>
    <% @groups.each do |group| %>
      <%= form.check_box :group_id, { multiple: false, include_hidden: false }, group[:group_id] %>
      <%= group.group.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit "作成する" %>
  </div>

<% end %>
