<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th><%= "仕込み項目名" %></th>
      <th><%= "使用食材" %></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |food_prep| %>
      <tr>
        <td><%= food_prep.name %></td>
        <td><%= food_prep.ingredient %></td>
        <td><%= link_to t('詳細を見る'), food_prep_path(food_prep), method: :get %></td>
        <td><%= link_to t('編集する'), edit_food_prep_path(food_prep), method: :get %></td> 
        <td><%= link_to t('削除する'), food_prep_path(food_prep), method: :delete, data: { confirm: '本当に削除しますか？' }  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
