<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th><%= "name" %></th>
      <th><%= "ingredient" %></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |food_prep| %>
      <tr>
        <td><%= food_prep.name %></td>
        <td><%= food_prep.ingredient %></td>
        <td><%= link_to t('common.show'), food_prep_path(food_prep), method: :get %></td>
        <td><%= link_to t('common.edit'), edit_food_prep_path(food_prep), method: :get %></td> 
        <td><%= link_to t('common.destroy'), food_prep_path(food_prep), method: :delete, data: { confirm: t('common.confirm_destroy') }  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
