<h1><%= '仕込み詳細ページ' %></h1>

<p>
  <strong><%= '仕込み項目名' %>:</strong>
  <%= @food_prep.name %>
</p>

<p>
  <strong><%= '使用食材' %>:</strong>
  <%= @food_prep.ingredient %>
</p>

<p>
  <strong><%= "カテゴリ" %>:</strong>
  <% @food_prep.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>

<%= link_to t('編集する'), edit_food_prep_path(@food_prep) %> |
<%= link_to t('戻る'), food_preps_path(@food_prep) %>