
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
          <div class="card-body">
            <h2>アカウント編集</h2>
            <div class="field">
              <%= render "users/shared/error_messages", resource: resource %>
              <%= f.label :name %><br />
              <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(空欄のままなら変更しません)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> 文字以上で入力</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %><br>
              <i>(変更を反映するには現在のパスワードを入力してください)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="button">
              <%= f.submit "更新する", class: "btn btn-info" %>
            </div>
          </div>  
        </div>  
      </div>  
    </div>
  </div>  
<% end %>

<h3>アカウント削除</h3>

<p>気に入りません <%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除してよろしいですか?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "戻る", :back %>
